.searchBar-input {
    display: inline-block;
    width: 220px;
    line-height: 30px;
    outline-color: #aaa;
    padding: 0 36px 0 12px;
    border-radius: 4px;
    border: solid 2px #ddd;
}

.search-icon-container {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 10px;
    width: 7%;
}

.search-icon {
    vertical-align: middle;
    width: 120%;
    height: 100%;
}